<p><button type="button" class ="btn btn-info" id="sld" >SOLD </button> 
<input id="sld" name="person" type="text" value="...." disabled/></p> 
<p><button type="button" class ="btn btn-info" id="lvs" >Leaves  </button>
<input id="lvs" name="person" type="text" value="...." disabled/></p>

<form name="pdg" role="form" action="pending">
<button type="button"  class ="btn btn-info" id="sendReq"  onclick="sendRequest2()"> Pending</button>
</form>
<input id="pdg" name="person" type="text" disabled value=<%= @luser%> /></p>
<table class="table" border="1" >
  <tr>   
     <th> Comment </th>
     <th> leave begin date </th>
     <th> leave end date </th>
     <th> Descition</th>
  </tr>
  <%
  @leaves.each do |leaves|
  %>
     <tr>
    <td> <%= leaves['lcomment'] %> </td> 
<td> <%= leaves['ldateb'] %> </td>
 <td> <%= leaves['ldatef'] %> </td> 
 <td> <%= leaves['ldecision'] %> </td>
     </tr>
  <%
  end
   %>
</table>

<% content_for :sidebar do %>
    <%= render :partial => 'leave/sidebar' %>
<% end %>

<form name="dmd" role="form" action="demande">
<button type="button"  class ="btn btn-info" id="sendReq"  onclick="sendRequest()"> leave request</button>

</form>

<script type="text/javascript">
function sendRequest() 
   {
      
      document.forms["dmd"].submit();      
   }
function sendRequest2() {

      document.forms["pdg"].submit();
   }

</script>
